<template name="profileForm">

  <form id="formFont">
    <div class="form-group">
      <label class="col-form-label" for="nome">Nome</label>
      <input type="text" class="form-control form-control-sm" name="nome" id="nome">
    </div>
    <div class="form-group">
      <label class="col-form-label" for="perfil">Perfil</label>
      <input type="text" class="form-control form-control-sm" name="perfil" id="perfil">
    </div>
    <button class="btn btn-primary btn-sm" id="btn-salvar">salva</button>
  </form>

  
</template>