body {
  background-color: #fff;
}
.starter-template { text-align: center; }

.dropdown-menu{ width: 480px; }

li{ list-style-type: none; }

@media (max-width: 991px) { 

  p{ font-size: 3em; }

  legend{ font-size: 2.5em; }

  h1{ font-size: 3.5em }
  h2{ font-size: 2.8em; }

  h1,h2,p,legend{ color: #4e4e4e; }

  .dropdown-menu{ width: 900px; font-size: 1em; }

  #login-email, 
  #login-name,
  #login-password, 
  #login-buttons-password, 
  #back-to-login-link,
  #login-buttons-forgot-password,
  #login-buttons-open-change-password,
  #login-buttons-logout, 
  #nome,
  #perfil,
  #btn-salvar,
  #forgot-password-email{ font-size: 1.5em; }
  
  #formFont{ font-size: 1.8em; }

  .navbar-toggler{ padding: 3%; }
  

}
